
@{
    ViewBag.Title = "About";
}

<h1><img src="~/Img/SendMe Banner.png" class="about-title" /></h1>
<hr />

<script type="text/javascript">
    var destinations = [];
    @foreach(var destination in ViewBag.Destination)
{
    <text>
    destinations.push('@destination.Destination');
    </text>
}
</script>

<!--Map-->
@{double total = 0.0;}
@foreach (var amount in ViewBag.TotalDonations)
{
    total +=amount.Amount;
}
<div class="row">
    <div class="about-content">
        <div class="container">
            <div id="mapAll" style="width: 85%; height: 300px;  margin:inherit; border: 3px solid #DADEE0"></div>
            <sup class="text-muted">SendMe! has helped raise $@total.00 to send @ViewBag.TotalStudents.Count students to @ViewBag.Destination.Count different destinations!</sup> 
        </div>
    </div>
</div>

<!--Problem and Solution-->
<div class="row about-content">
    <div class="col-sm-12 col-md-6">
        <h2><strong>The Problem</strong></h2>
        <hr />
        <p>
            Students need to be able to raise and track funds for their
            study abroad trips. Faculty and staff need to be able to track students'
            fund-raising progress and make sure that the funds get where they need to go.
            However, since there is no standard system for students to use, faculty and
            staff end up having to keep up with multiple applications depending on each
            student's tracking method of choice.
        </p>
    </div>

    <div class="col-sm-12 col-md-6">
        <h2><strong>The Solution</strong></h2>
        <hr />
        <p>
            Send Me! is a secure, user-friendly application that will allow students to
            create profiles to which donors can navigate in order to donate funds to the
            student's trip. Students will have to verify their school email address and so 
            will be affiliated with their school in the application. Each school will have 
            a dedicated page where the progress of their students' fund-raising is displayed. 
            This will make it easy for faculty and staff to keep up with all of their 
            students in one place.
        </p>
        <p>
            As an added bonus, through the use of a general school profile, Alumni of each school
            who wish to donate to current students have the opportunity to do so without needing
            to reach out to the school's administration to find out where to send funds.
        </p>

    </div>
</div>