@{
    ViewBag.Title = "Contact";
}

@using (Html.BeginForm("Contact", "Home", null, FormMethod.Post, new { @class = "contactForm" }))
{
    @Html.ValidationSummary()
    <div class="about-content">

        <h2><strong>Say Hello!</strong></h2>
        <hr />

        <fieldset>
            <div class="form-div-1">
                <label class="name">
                    Your Name
                </label>
                <input type="text" name="name" />
            </div>
            <div class="form-div-2">
                <label class="email">
                    Your Email
                </label>
                <input type="email" name="email" />
            </div>
            <div>
                <label class="message">
                    Your Message
                </label>
                <input type="text" rows="3" name="contactMsg" />
            </div>
            <div class="button-wrapper">
                <input type="submit" value="Send" name="submit" class="btn btn-primary">
                <input type="reset" value="Reset" name="MFReset" class="btn btn-danger">
            </div>
        </fieldset>

    </div>
}
