@{
    ViewBag.Title = "Home";
}

<div class="home">

        <img class="landing-img" src="~/Img/uscmed.png" />

        <div class="col-sm-12" style="text-align:center">
            <a href="~/school/1" type="button" class="btn btn-primary">Find a Student</a>
        </div>

</div>