<div id="successMsgModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" height="50px" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-header modal-header-success">
        <div class="modal-dialog modal-sm" role="document">
            <div id="successModalContent" class="modal-content">
                <div class="modal-header modal-header-success">
                    <h1 style="color:#556080;"><i class="glyphicon glyphicon-thumbs-up"></i>Payment Success</h1>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <h4 class="display-3">
                            @ViewBag.PaymentMsg
                        </h4>
                        <p>
                            <button type="button" class="btn btn-danger" id="approveMsgBtn">X Close</button>
                        </p>
                        <hr />
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
