 <form name="DonationForm">
    Required
    <div class="group">
        <label>
            <span>Email</span>
            <input id="DonorEmail" class="field" placeholder="Example@Example.com" type="email" required />
        </label>
        <label>
            <span>Amount</span>
            <input class="field" placeholder="25.00" id="DonationAmount" type="number" min="0" required />
        </label>
        <label>
            <span>Card</span>
            <div id="card-element" class="field"></div>
        </label>
        <strong class="error"></strong>
    </div>
     Optional
     <div class="group">
         <label>
             <span>Name</span>
             <input name="DonorName" id="DonorName" class="field" placeholder="Mic Anderson" type="text" maxlength="30" />
         </label>
         <label>
             <span>Phone</span>
             <input id="DonorPhoneNumber" class="field" placeholder="(555)-555-5555" type="tel" min="10" max="10" />
         </label>
         <div class="container">
             <div class="container">
                 <label for="comment">Message:</label>
                 <textarea class="field" rows="5" id="comment" style="width:600px; border: 5px solid #DADEE0;"></textarea>
             </div>
         </div>
         <div class="container">
             <div class="btn-group btn-group-lg" role="group">
                 <button id="paymentBackBtn" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="left" title="Go Back"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
                 <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Submit Donation"><i class="glyphicon glyphicon-ok"></i> Submid Donation</button>
             </div>
         </div>
     </div>
</form>