<p>    
    If you wish to remain anonymous, leave the "Name" field blank 
    and your email will be used to send a donation receipt only.
</p>
<hr />
<div class="container">
    <form name="DonationForm" id="donationPartialForm">
        <h4>Required</h4>
        <div class="group">
            <label>
                <span>Email</span>
                <input id="DonorEmail" class="field" placeholder="Example@Example.com" type="email" required />
            </label>
            <label>
                <span>Amount</span>
                <input class="field" placeholder="25.00" id="DonationAmount" type="number" min="0" required />
            </label>
            <label>
                <span>Card</span>
                <div id="card-element" class="field"></div>
            </label>
            <strong class="error"></strong>
        </div>
        <h4>Optional</h4>
        <div class="group">
            <label>
                <span>Name</span>
                <input name="DonorName" id="DonorName" class="field" placeholder="Mic Anderson" type="text" maxlength="30" />
            </label>
            <label>
                <span>Phone</span>
                <input id="DonorPhoneNumber" class="field" placeholder="(555)-555-5555" type="tel" min="10" max="10" />
            </label>
            <div class="form-group">
                <label for="donationMsg" class="form-control-label">Send a donation message:</label>
                <textarea class="form-control" id="donationMsg" style="margin-top: 0px; margin-bottom: 0px; margin-left: 15px; height: 172px; min-width:400px"></textarea>
                <hr />
            </div>
            <button style="width:25%" id="paymentBackBtn" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="left" title="Go Back"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
            <button style="width:25%" type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Submit Donation"><i class="glyphicon glyphicon-ok"></i> Submit</button>
        </div>
    </form>
</div>