@model SendMe.Models.TripViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<hr />
<div class="container">
   @foreach(var donation in Model.Donations)
   {
       <p>@donation.Amount</p>
        <p>@donation.Donor.Name</p>
   }

 
   
      
</div>

