@model SendMe.ViewModels.ThankYouViewModel

@if (ViewBag.userProfile == ViewBag.currentUser)
{
    <div id="thankYouModal">
        @using (Html.BeginForm("SendThankYou", "User", Model, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <button type="submit" id="sendThanks" class="btn btn-toolbar btn-success">
                        <span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
            </div>
        }
    </div>
}
